<legend>Temporizador</legend>
<div class="ui fluid input">
  <input value={{value}} id="amount" step=1 type="time" oninput={{action (action sendAction "updateInterval") value="target.valueAsNumber"}}>
</div>
