{{#each capturas as |captura index|}}
  {{huayra-dropzone index=index}}
  {{#if (eq cursor index)}}
    <li class="cursor" draggable="true">SOYELCURSOR</li>
  {{/if}}
  {{huayra-cuadro index=index cuadro=captura intervaloSeleccion=intervaloSeleccion accionAlHacerClick='alSeleccionarCuadro' draggable=true}}
{{/each}}

{{! Hay una dropzone al final del timeline}}
{{huayra-dropzone index=capturas.length}}
{{#if (eq cursor capturas.length)}}
  <li class="cursor" draggable="true">SOYELCURSOR</li>
{{/if}}
