{{!-- Debería enviar números en lugar de strings --}}
<fieldset class="huayra-control">
  <legend>Capas de Cebolla</legend>
  <p><label>Cuadros anteriores:</label>{{input type="text" value=(mut config.pastFrames)}}</p>
  <p><label>Cuadros siguientes:</label>{{input type="text" value=(mut config.futureFrames)}}</p>
  <p><label>Opacidad (entre 0 y 1):</label>{{input type="text" value=(mut config.alpha)}}</p>
  <button {{action aplicar config}}>Aplicar cambios</button>
</fieldset>
