
.contenedor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.vbox {
  flex-grow: 1;
}

.vbox.header {
  flex-grow: 0;
  background-color: #ccc;
}

.vbox.timeline {
  flex-grow: 0;
  background-color: #ccc;
  padding-left: 2px;
  padding-right: 2px;
  height: 110px;
  overflow-x: scroll;
  flex-shrink: 0;
}

.vbox.vbox-camara {
  overflow: scroll;
}

body > .ember-view {
  height: 100%;
}

.vbox.controles {
  flex-grow: 0;
  background-color: #ddd;
  padding-top: 5px;
  padding-bottom: 5px;
}

.huayra-timeline ol, .huayra-timeline li, .huayra-timeline ul {
  list-style-type: none;
}

.huayra-timeline {
  width: 10000000000000px;
  padding: 0;
  margin: 0;
}

.huayra-cuadro {
  display: inline-block;
  margin-left: 2px;
  float: left;
  border: 1px solid #777777;
  background-color: #1b1c1d;
  position: relative;
}

.huayra-cuadro .huayra-cuadro-numero {
  position:absolute;
  color: white;
  right: 4px;
  top: 0;
  text-shadow: 0 0 5px black;
}

.seleccion {
  display: list-item;
}

.seleccion .huayra-cuadro {
  opacity: 0.5;
}


#video {
  width: 100%;
}

* {
  -moz-user-select: none;
 -khtml-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.padding-top {
  padding-top: 10px;
}

.margin-top {
  margin-top: 100px !important;
}

.vbox-camara {
  position: relative;
}

.vbox-camara > .canvas-layer {
  position: absolute;
}

.canvas-layer {
  height: 450px;
  background-color: transparent;
}

/* Formularios de los controles */

.huayra-control {
    display: table;
}

.huayra-control p {
    display: table-row;
}

.huayra-control input {
    display: table-cell;
}

.huayra-control label {
    display: table-cell;
    text-align: right;
    padding-right: 1em;
}

/* TEMPORAL (para probar controles) */

.controles-camara {
    height: 200px;
    overflow-y: scroll;
}

.color_gray {
  color: #ccc;
}

.huayra-cuadro img {
    height: 80px;
}


.no-padding-bottom {
  padding-bottom: 0em !important;
}

.tmp-nota-derecha {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background-color: yellow;
}
