
.contenedor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.vbox {
  flex-grow: 1;
}

.vbox.header {
  flex-grow: 0;
  background-color: #ccc;
}

.vbox.timeline {
  flex-grow: 0;
  background-color: #ccc;
  padding-left: 2px;
  padding-right: 2px;
  height: 110px;
  overflow-x: scroll;
  flex-shrink: 0;
}

.vbox.vbox-camara {
  overflow: scroll;
}

body > .ember-view {
  height: 100%;
}

.vbox.controles {
  flex-grow: 0;
  background-color: #ddd;
  padding-top: 5px;
  padding-bottom: 5px;
}

ul.huayra-timeline {
  width: 10000000000000px;
  padding: 0;
  margin: 0;
}

li.huayra-cuadro {
  display: inline-block;
  margin-left: 2px;
  float: left;
  border: 1px solid #777777;
  background-color: #1b1c1d;
  position: relative;
}

li.huayra-cuadro .huayra-cuadro-numero {
  position:absolute;
  color: white;
  right: 4px;
  top: 0;
  text-shadow: 0 0 5px black;
}


li.huayra-cuadro.seleccionado {
  opacity: 0.5;
}


#video {
  width: 100%;
}

* {
  -moz-user-select: none;
 -khtml-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.padding-top {
  padding-top: 10px;
}

.margin-top {
  margin-top: 100px !important;
}
