
.contenedor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.vbox {
  flex-grow: 1;
  margin-left: 15px;
  margin-right: 15px;
}

.vbox.header {
  margin-top: 10px;
  flex-grow: 0;
/*  background-color: #fafafa;*/
}

.vbox.timeline {
  flex-grow: 0;
/*  background-color: #ccc;*/
  padding-left: 2px;
  padding-right: 2px;
  height: 110px;
  white-space: nowrap;
  overflow-x: scroll;
  flex-shrink: 0;
}

.vbox.vbox-opciones {
	flex-grow: 0px;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
}

.vbox.vbox-camara {
  overflow: scroll;
  height: 400px;
}

body > .ember-view {
  height: 100%;
}

.vbox.controles {
  flex-grow: 0;
/*  background-color: #ddd;*/
  padding-top: 5px;
  padding-bottom: 5px;
}

.huayra-timeline ol, .huayra-timeline li, .huayra-timeline ul {
  display: inline-block;
}

.huayra-timeline {
  padding: 0;
  margin: 0;
}

.huayra-cuadro {
  position: relative;
  display: inline-block;
  margin-left: 2px;
  border: 1px solid #777777;
  background-color: #1b1c1d;
}

.huayra-cuadro .huayra-cuadro-numero {
  position:absolute;
  color: white;
  right: 4px;
  top: 0;
  text-shadow: 0 0 5px black;
}

.seleccionado.huayra-cuadro {
  opacity: 0.5;
}

.dragOverDropzone {
  background-color: #8888FF;
}

.dropzone {
  width: 1.7em;
  height: 75px;
  /*padding: 0px, 3px;*/
}


#video {
  width: 100%;
}

* {
  -moz-user-select: none;
 -khtml-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.padding-top {
  padding-top: 10px;
}

.margin-top {
  margin-top: 100px !important;
}

.vbox-camara {
  position: relative;
}

.vbox-camara > .canvas-layer {
  position: absolute;
}

.canvas-layer {
  height: 450px;
  background-color: transparent;
}

/* Formularios de los controles */

.huayra-control {
    display: table;
}

.huayra-control p {
    display: table-row;
}

.huayra-control input {
    display: table-cell;
}

.huayra-control label {
    display: table-cell;
    text-align: right;
    padding-right: 1em;
}

/* TEMPORAL (para probar controles) */

.controles-camara {
    height: 200px;
    overflow-y: scroll;
}

.color_gray {
  color: #ccc;
}

.huayra-cuadro img {
    height: 80px;
}


.no-padding-bottom {
  padding-bottom: 0em !important;
}

.tmp-nota-derecha {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background-color: yellow;
}

.logo-centrado img {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

/* Estilo para los Botones */
/* Usamos colores de Huayra Liso */
.ui.primary.button { /* el boton activo */

	background-color: #ffb380;
	border-style: solid;
	border-width: 1px;
	border-color: #aa4400;
}

.ui.primary.button:hover { 

	background-color: #ffb380;
	border-style: solid;
	border-width: 1px;
	border-color: #aa4400;
}

.ui.button { /* cualquier otro boton */
	padding: 20px;
	margin: auto;
	text-align: center;
	background-color:#cccccc;
	border-style: solid;
	border-width: 1px;
	border-color: #666666;
	color: #666666;

}

.ui.button:hover { 

	background-color:#ffb17c;
	border-style: solid;
	border-width: 1px;
	border-color: #aa4400;
	color: white;
}

.ui.button.botonppal {
	padding: 20px;
	background-color: transparent;
}

.ui.button.botonchico {
	padding: 5px;
	height: 30px;
	background-color: transparent;
}

.ui.toggle.button.active.botonchico { /* Este estilo es para botones toggle que todavia no se codificaron */
	padding: 5px;
	height: 30px;
	background-color: green;
}


.ui.button.botonchico:hover {
	background-color: #ffb17c;
	border-style: solid;
	border-width: 1px;
	border-color: #aa4400;
	color: white;
}


.ui.button.botonppal:hover {
	padding: 20px;
	background-color:#ffb17c;
	border-style: solid;
	border-width: 1px;
	border-color: #aa4400;
	color: white;
}


/* Corrije mal centrado de iconos en botones */
.ui.button:not(.icon) > .icon:not(.button):not(.dropdown) {
	margin: 0px;
}

/* Tamaño de iconos en botones ppales */
i.icon {

	font-size: 1.6em;
	text-align:center;
}

i.icon.chico {

	font-size: 1.0em;
	text-align:center;
}


/* Color de fondo de la app */
body {
	background-color: #efefef;
}


