# See http://help.github.com/ignore-files/ for more about ignoring files.

.DS_Store

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

# Agregar sólo los pngs de imágenes
*.png
!public/imagenes/*.png

# Archivos de proyecto de mltframework
*.mlt
