<h1>Grilla</h1>
<p>Esta es la capa de la grilla (falta implementar los controles de configuración)</p>

{{huayra-grilla config=grilla width=100 height=100}}

{{huayra-control-grilla config=(changeset grilla) aplicar=(action guardar)}}
