<h1>Diálogos modales</h1>

<p>Estos son algunos de los dialogos que se mostrarán en la aplicación.</p>

<p>Ten en cuenta que esta ruta activa la confirmación para salir, así que podes
  ver el dialogo en funcionamiento si intentás cerrar la ventana.</p>


<button class="ui button" {{action "abrirDialogoConfirmacion"}}>Abrir dialogo de confirmación para salir</button>


{{modal-confirmar-salir alAceptar=(action "cuandoAceptaSalirSinGuardar")}}
