<h1>Di치logos modales</h1>

<p>Estos son algunos de los dialogos que se mostrar치n en la aplicaci칩n</p>


<button class="ui button" {{action "abrirDialogoConfirmacion"}}>Abrir dialogo de confirmaci칩n para salir</button>


{{modal-confirmar-salir alAceptar=(action "cuandoAceptaSalirSinGuardar")}}
