<h1>Timeline</h1>

<p>Timeline sin cuadros:</p>

<div class="vbox timeline">
  {{huayra-timeline}}
</div>


<p>Timeline con algunos cuadros demostración (usá ctrl, cmd o shift para seleccionar rangos):</p>

<div class="vbox timeline">
  {{huayra-timeline capturas=capturas intervaloSeleccion=intervaloSeleccion}}
</div>

<p>Rango de selección actual: <code>[{{get intervaloSeleccion '0'}}, {{get intervaloSeleccion '1'}}]</code>.</p>
