Source: huayra-stopmotion
Section: unknown
Priority: extra
Maintainer: Hugo Ruscitti <hugoruscitti@gmail.com>
Depends: node-webkit, libc6, libgcc1, libstdc++6, g++, gcc, libc6-dev
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/huayra-stopmotion.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/huayra-stopmotion.git;a=summary

Package: huayra-stopmotion
Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}, node-webkit, libc6, libgcc1, libstdc++6, g++, gcc, libc6-dev
Depends: ${misc:Depends}, node-webkit, libc6, libgcc1, libstdc++6, g++, gcc, libc6-dev
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: huayra-stopmotion-doc
Architecture: all
Description: documentation for huayra-stopmotion
 <insert long description, indented with spaces>
