[Desktop Entry]
Name=Huayra Motion
Comment=Una herramienta para crear cortos de stopmotion
Exec=/usr/bin/huayra-motion
Terminal=false
Type=Application
Icon=huayra-motion
Categories=GNOME;GTK;System;
