<div class="modal-header">
  <huayra-version></huayra-version>

  <h3>Acerca de Huayra-Motion</h3>
</div>

<div>
    <div class="modal-body modal-acerca-de">
        <img style='float: right' src='img/vaca.gif'>
        <p><strong>Huayra-motion</strong> es una herramienta para crear cortos animados y películas creado
        por el equipo de diseño y desarrollo de <a href onclick='abrir_web("http://huayra.conectarigualdad.gob.ar/")'>Huayra</a>.</p>

        <p>Si querés saber mas acerca de este proyecto, podés visitar nuestro repositorio
        en <a class='code' href onclick='abrir_web("https://github.com/HuayraLinux/huayra-stopmotion")'>github</a> y participar de los
        <a href onclick='abrir_web("http://huayra.conectarigualdad.gob.ar/foro/")'>foros</a> de la comunidad.</p>

        <p>Creamos esta aplicación conversando, programando y aprendiendo junto a docentes
        y alumnos. Nos ayudaría mucho conocer tus sugerencias también.</p>

        <p>¡Estemos en contacto!</p>
    </div>

    <div class="modal-footer">
        <button class="btn btn-success" ng-click="cerrar()">Cerrar esta ventana</button>
    </div>
</div>
