body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

ul.sortable {
    width: 100%;
    overflow: scroll;
    margin: 0;
}

ul.sortable li {
    background-color: white;
    height:80px;
    width:100px;
    margin:4px;
    cursor:pointer;
    display:inline-block;
    border: 1px solid gray;
    /*float:left;*/
    /*float:none;*/
    /*clear:both;*/
}

.sortable {
    white-space:nowrap;
    overflow-x:scroll;
    overflow-y:hidden;
    /*text-align:left;*/
}

ul.sortable li.sortable-placeholder {
    border: 1px dashed gray;
    background: transparent;
}

.color-gray {
    color: #bbb;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    border-top: 1px solid #ccc;

    background: #E9E9E9 url('../img/bg-content.jpg');
    z-index: 5;

    padding-left: 5px;
    padding-right: 5px;
}

footer .row {
    margin-left: 0;
}

.cuadros {
}

.contenedor-layers {
  position: absolute;
  bottom: 150px;
  top: 43px;
  left: 5px;
  right: 406px;
  overflow: hidden;
}

.contenedor-layers video {
  position: absolute;
  height: auto;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.contenedor-layers img {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.contenedor-layers canvas {
  z-index: 2;
}

.sin-cuadros {
  color: gray;
  margin-left: 10px;
  
  border: 1px dashed gray;
  height:70px;
  width:100px;
  text-align: center;
}


/* Estos dos elementos, tab-content y .oculto se han creado
 * a modo de hack, porque en realidad se busca ocultar elementos
 * y al usar display:none angular no evalúa el scope. Puede ser
 * un detalle de angular.slide.
 */
.tab-content {
  overflow: hidden !important;
}

.oculto {
  margin-left: 600px;
  position: absolute;
}



.numero_seleccionado {
  position: fixed;
  background-color: white;
  padding: 7px;
  width: 20px;
  text-align: center;
	border-bottom: 1px solid rgba(255, 0, 0, 0.5);
	border-right: 1px solid rgba(255, 0, 0, 0.5);
	font-weight: bold;
	opacity: 0.8;
}

.numero {
  position: fixed;
  background-color: white;
  opacity: 0.3;
  padding: 7px;
  width: 20px;
  text-align: center;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}


.seleccionada {
box-shadow: 0 0 5px red;
}

html {
	overflow: hidden !important;
}


div.panel-inicial {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: white;
    z-index: 3000;
    text-align: center;
    font-size: 15px;
		padding-top: 7em;
}

.ayuda {
    position: absolute;
    z-index: 2500;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    -webkit-transition: top 0.25s ease-in-out;
    background-color: rgba(14, 6, 6, 0.67);
    border-top: 2px solid gray;
}

.ayuda-invisible {
    top: 100%;
}

.ayuda-contenido {
    background-color: white;
    margin: 4%;
    padding: 25px;
}

.ayuda-contenido ul {
    list-style: none;
    margin-top: 40px;
}

.ayuda-contenido li {
    float: none;
    font-size: 16px;
    margin-bottom: 20px;
}

.ayuda-contenido .tecla {
  font-weight: 100;
  display: inline-block;
  min-width: 1.6em;
  background: #f7f7f7;
  box-shadow: 0 2px #d9d9d9;
  border: 1px solid #d9d9d9;
  text-align: center;
  line-height: 1.6em;
  border-radius: 3px;
  font-size: 1em;
  margin-right: 14px;

  padding-left: 7px;
  padding-right: 7px;
}



.panel-lateral-invisible {
  right: -600px !important;
}

.side-right {
  -webkit-transition: right 0.25s ease-in-out;
}

.affix {
  position: fixed;
}

.contenedor-layers-expandido {
  right: 10px !important;
}

.contenedor-controles-expandido {
  right: 10px !important;
}

.contenedor-layers {
  -webkit-transition: right 0.25s ease-in-out;
}

#contenedor-controles {
  -webkit-transition: right 0.25s ease-in-out;
}



/* Frame */
.frame {
	height: 70px;
	line-height: 50px;
	overflow: hidden;
}
.frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 10px;
}

.frame ul li {
	float: left;
	width: 80px;
	height: 100px;
	margin: 0 4px 0 0;
	padding: 0;
	background: #333;
	color: #ddd;
	text-align: center;
	cursor: pointer;
  border-bottom: 5px solid gray;
}

.frame ul li.active {
	color: #fff;
	background: #a03232;
  border-bottom: 5px solid red;
}


/* Scrollbar */
.scrollbar {
	margin: 0 0 1em 0;
	height: 2px;
	background: #ccc;
	line-height: 0;
}
.scrollbar .handle {
	width: 100px;
	height: 100%;
	background: #292a33;
	cursor: pointer;
}
.scrollbar .handle .mousearea {
	position: absolute;
	top: -9px;
	left: 0;
	width: 100%;
	height: 20px;
}

/* Pages */
.pages {
	list-style: none;
	margin: 3px 0;
	padding: 0;
	text-align: center;
	
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(177, 177, 177, 0.7);
	border-radius: 5px;
	padding-top: 5px;
	box-shadow: 0 0 2px rgb(56, 56, 56);
}

.pages li {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 4px;
	text-indent: -999px;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
	background: #fff;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.pages li:hover {
	background: #aaa;
}
.pages li.active {
	background: #666;
}

.wrap {
    position: relative;
    width: 100%;
}

span.nota {
    float: right;
    margin-top: 10px;
}

input[type='range']:disabled {
    opacity: 0.5;
}

input[type='range'] {
    -webkit-appearance: none !important;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px #333;
    background-color: #999;
    display: block;
    width: 100%;
    height: 6px;
    cursor: pointer;
    margin-top: 5px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -webkit-border-radius: 10px;
    background-color: #AAA;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#AAA));
    border: 1px solid #999;
    height: 20px;
    width: 20px;
}

.controls {
    padding: 10px;
}

label {
    cursor: default !important;
}


.inner-control {
  margin: 10px;
  padding-left: 125px;
  margin-bottom: 30px;
}

table.grilla {
    position: absolute;
    z-index: 2000;
}

table.grilla td {
    border: 1px solid white;
}


.toolbar {
	position: absolute;
	z-index: 2000;
	bottom: 90px;
	right: 0;
	margin: 5px;
}

.btn-pulsado {
	background-color: rgb(255, 213, 213) !important;
}

.btn-normal {
	background-color: white;
}

.boton-plano {
	border: 1px solid rgb(138, 138, 138);
	background-color: white;
}
.proyectos-recientes {
	margin: auto;
	width: 50%;
	background-color: rgb(236, 236, 236);
	border-radius: 9px;
	margin-top: 3em;
	padding: 1em;
}

.cabecera-proyectos {
	font-weight:bold;
}

.li-tecla {
  font-size: 16px;
  display: inline-block;
  width: 49%;
  margin-bottom: 20px;
}

.contenedor-scroll {
  width: 100%;
  height: 100%;
}

.contenedor {
  position:relative;
  width:100%;
  height:100%;
  text-align:center;
}

canvas#canvas {
  max-height: 100%;
  max-width: 100%;
  position:relative;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}