{{outlet}}

<p>Editando el proyecto {{model.ubicacion}}</p>

<p>Nombre del proyecto desde archivo: {{proyecto.datos.nombre}}</p>

<button class="ui button" {{action "cerrarElProyecto"}}>Cerrar</button>
