<div class="ui container padding-top">

{{#link-to "index" class="ui button"}}Volver{{/link-to}}

<div class="ui secondary menu">
  {{#link-to "debug.index" class="item"}}Indice{{/link-to}}
  {{#link-to "debug.timeline" class="item"}}Timeline{{/link-to}}
  {{#link-to "debug.modal" class="item"}}Diálogos modales{{/link-to}}
  {{#link-to "debug.grilla" class="item"}}Grilla (overlay){{/link-to}}
</div>

{{outlet}}

</div>
