{{outlet}}

<div class="ui vertical stripe segment margin-top">
  <div class="ui middle aligned grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Huayra stopmotion</h3>
        <p>Una aplicación para crear cortos de animación usando la técnica
          stop-motion.</p>
      </div>
      <div class="six wide right floated column">
        <img src="imagenes/logo.png" width=102 heigth=102 class="ui large rounded">
      </div>
    </div>

    <div class="row">
      <div class="center aligned column">
        <a class="ui button primary" id='crearNuevoProyecto' {{action 'crearUnProyectoNuevo'}}>Crear un nuevo proyecto</a>

        <a class="ui button" {{action 'abrirPruebaDeCamaras'}}>Probar interfaz de cámaras</a>
        <a class="ui button" {{action 'abrirPruebas'}}>Abrir sección de pruebas</a>
      </div>
    </div>

  </div>
</div>
